@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.ah-banerbox-top
		text-align: left
	.ah-footerbox
		text-align: left
	.ah-banerbox1
		text-align: left
	.ah-header-logobox
		margin: 0
	.ah-tabs-toplist
		text-align: left
	.ah-tabs-toplist1
		text-align: left
		margin-top: 0px
		li
			display: block
			a
				font-family: "Exo2-Regular", sans-serif
				color: #808080
				font-size: 16px
				line-height: 29px
				text-decoration: none
	.tabs-navigation
		li
			display: inline-block
			margin-right: 5px
			a
				display: inline-block
				padding: 17px 15px
				line-height: 28px
	.ah-banerbox-form
			p
				margin-top: 68px
	.ah-banerbox-wrapp
		margin-top: 72px
	.ah-banerbox-wrapp1
		margin-top: 129px
	.ah-banerbox-city
		padding-left: 35px
	.ah-bcity-span
		margin-bottom: 0px
	.ah-midinfo-link1
		width: 60%
		margin: 0 auto
	.ah-midinfo-span1
		font-size: 18px !important
		text-align: center
	.ah-midinfo-tel1
		font-size: 24px !important
		text-align: center
	.ah-footerbox-contacts
		float: left
		margin: 0 250px
		margin-top: 20px
	.ah-footerbox-item
		float: left
		margin-right: 94px
		margin-bottom: 0
	.arrow-left
		left: -25px
	.arrow-right
		right: -25px
	.ah-sliderbox-text
		font-size: 20px
	.ah-ourwork-item
		width: 20%
	.ah-ourwork-imgbox
		background: url(../img/work_arr.png) right center no-repeat
	.ah-trapecibox1, .ah-trapecibox2, .ah-trapecibox3, .ah-trapecibox4, .ah-trapecibox5
		width: 20%
		padding: 10px 0px 0px 0px
		margin-bottom: 0px
	.ah-trapecibox1
		display: inline-block
		height: 154px
		top: -5px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden // for Chrome Windows
		&:before 
			top: 0
			transform: skewY(3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -9px
			transform: skewY(-3.5deg)
			transform-origin: 100%
	.ah-trapecibox2
		display: inline-block
		height: 154px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden // for Chrome Windows
		&:before 
			top: -14px
			transform: skewY(-3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -13px
			transform: skewY(3.5deg)
			transform-origin: 100%
	.ah-trapecibox3
		display: inline-block
		height: 165px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -23px
			transform: skewY(-3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -11px
			transform: skewY(3.5deg)
			transform-origin: 100%
	.ah-trapecibox4
		display: inline-block
		height: 146px
		top: 79px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden // for Chrome Windows
		&:before 
			top: -2px
			transform: skewY(6.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -51px
			transform: skewY(6.5deg)
			transform-origin: 100%
	.ah-trapecibox5
		display: inline-block
		height: 165px
		top: 32px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden // for Chrome Windows
		&:before 
			top: -27px
			transform: skewY(-6.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -7px
			transform: skewY(-6.5deg)
			transform-origin: 100%
	.ah-zakazbox-item
		width: 50%
		margin-bottom: 0px
	.ah-zakazbox-titlefirst
		font-size: 40px
	.ah-formsection-text
		font-size: 35px
		span
			font-size: 35px
	.ah-city-box2-link
		font-size: 17px
	.ah-form1
		.selectize-control
			display: inline-block
			margin-bottom: 0px
		.selectize-input
			width: 253px !important
		input[type="text"]
			width: 254px
			display: inline-block
			margin-bottom: 0px
		input[type="submit"]
			display: inline-block
	.ah-header-topline-list
		left: -60%
		height: 100%
		position: fixed
		width: 60%
		background: #252525
		z-index: 9999
	.ah-header-midinfo
		margin-top: 0px
		text-align: left
	
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.ah-banerbox-city
		padding-left: 10px
	.tabs-navigation
		li
			margin-right: 25px
			a
				display: inline-block
				padding: 17px 35px
				font-size: 16px
				line-height: 28px
	.ah-banerbox-fon
		min-height: 615px
	.ah-banerbox-wrapp
		margin-top: 72px
	.ah-banerbox-wrapp1
		margin-top: 129px
	.ah-banerbox-formtitle
		font-size: 40px
	.ah-banerbox-form
		padding: 55px 65px 30px 65px
		p
			margin-top: 68px
	.ah-banerbox-text
		margin-top: 120px
	.ah-banerbox
		height: 744px
	.ah-bcity-span
		margin-bottom: 25px
	.ah-midinfo-link1
		width: 100%
		margin: 0 auto
	.ah-midinfo-span
		font-size: 18px
	.ah-midinfo-span1
		font-size: none
		text-align: left
	.ah-midinfo-tel
		text-align: left
		font-size: 28px
	.ah-footerbox-contacts
		float: right
		margin: 20px 80px 0
	.ah-header-logobox
		padding-top: 7px
		width: 100%
		margin: 0
	.ah-trapec-span
		font-size: 50px
	.ah-trapecibox1
		display: inline-block
		height: 154px
		top: 0
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -4px
			transform: skewY(3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -4px
			transform: skewY(-3.5deg)
			transform-origin: 100%
	.ah-trapecibox2
		display: inline-block
		height: 154px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -15px
			transform: skewY(-3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -16px
			transform: skewY(3.5deg)
			transform-origin: 100%
	.ah-trapecibox3
		display: inline-block
		height: 165px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -27px
			transform: skewY(-3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -15px
			transform: skewY(3.5deg)
			transform-origin: 100%
	.ah-trapecibox4
		display: inline-block
		height: 146px
		top: 57px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -6px
			transform: skewY(6.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -54px
			transform: skewY(6.5deg)
			transform-origin: 100%
	.ah-trapecibox5
		display: inline-block
		height: 165px
		top: 1px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -27px
			transform: skewY(-6.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -13px
			transform: skewY(-6.5deg)
			transform-origin: 100%
	.ah-zakazbox-days, .ah-zakazbox-price
		margin-left: 10px
	.ah-zakazbox-item
		height: auto
		width: 19%
		margin-right: 11px
	.ah-formsection-text
		margin-bottom: 35px
	.ah-header-formsection
		height: 752px
		padding: 275px 0px 25px 0px
	.ah-midinfo-link
		padding: 13px 52px
	.ah-citywrapp
		padding-top: 15px
		margin-top: 0px
	/**/

@media only screen and (min-width : 1200px)
	.ah-trapecibox1
		display: inline-block
		height: 154px
		top: 0
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: 0
			transform: skewY(3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: 0
			transform: skewY(-3.5deg)
			transform-origin: 100%
	.ah-trapecibox2
		display: inline-block
		height: 154px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -14px
			transform: skewY(-3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -13px
			transform: skewY(3.5deg)
			transform-origin: 100%
	.ah-trapecibox3
		display: inline-block
		height: 165px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -28px
			transform: skewY(-3.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -16px
			transform: skewY(3.5deg)
			transform-origin: 100%
	.ah-trapecibox4
		display: inline-block
		height: 146px
		top: 28px
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -2px
			transform: skewY(6.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -61px
			transform: skewY(6.5deg)
			transform-origin: 100%
	.ah-trapecibox5
		display: inline-block
		height: 165px
		top: 0
		&::before, &::after
			background: inherit
			content: ''
			display: block
			height: 50%
			left: 0
			position: absolute
			right: 0
			z-index: -1
			-webkit-backface-visibility: hidden
		&:before 
			top: -27px
			transform: skewY(-6.5deg)
			transform-origin: 100% 0
		&:after 
			bottom: -16px
			transform: skewY(-6.5deg)
			transform-origin: 100%
	.ah-zakazbox-days, .ah-zakazbox-price
		font-size: 22px
	.ah-zakazbox-title
		font-size: 22px
	.ah-zakazbox-item
		height: auto
	.ah-zakazbox-link
		width: 194px
	.ah-footerbox-contacts
		float: right
		text-align: left
		margin: 0
		margin-top: 0px
	.ah-banerbox-city
		padding-left: 35px
	.ah-header-topline-list
		left: 0px
		height: auto
		position: static !important
		width: auto
		background: none
		li
			display: inline-block
	.ah-banerbox-fon
		min-height: 530px

	/**/
	