@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "style"

ul
	padding: 0
	margin: 0
body
	overflow-x: hidden






	


//*************************** POPUP-Form *****************************************
#small-dialog
	text-align: left
	max-width: 500px
	margin: 40px auto
	position: relative
.common-form
	display: block
	padding: 38px 68px
	background: #37474f
	border-radius: 3px
	box-sizing: border-box
	.form-title
		display: block
		color: #fff
		font-size: 41px
		font-family: "PT Sans", sans-serif
		margin-top: 15px
	.form-subtitle
		display: block
		color: #fecc00
		font-family: "PT Sans Bold", sans-serif
		font-size: 18px
		text-transform: uppercase
		margin-top: 11px
		margin-bottom: 15px
	input[type="text"]
		width: 100%
		border-radius: 3px
		box-sizing: border-box
		border: 1px solid #fff
		background: #37474f
		color: #fff
		font-family: "PT Sans", sans-serif
		height: 33px
		line-height: 33px
		padding: 0px 18px
		font-size: 14px
		margin-top: 15px
	input[type="submit"]
		width: 100%
		border-radius: 3px
		box-sizing: border-box
		border: none
		background: #fecc00
		color: #37474f
		text-align: center
		font-family: "PT Sans", sans-serif
		height: 33px
		line-height: 33px
		padding: 0px 18px
		font-size: 18px
		text-transform: uppercase
		margin-top: 10px
		outline: none
		cursor: pointer
//***************************************************************************



@import "media" // Всегда в конце
@import "media2" // Всегда в конце